
body.dark {
  background-color: #301e15;
}
  
.dark header{
  background: linear-gradient(to bottom, rgba(233, 150, 146, 0.477), rgba(233, 150, 146, 0.143), transparent);
} 
  .dark a {
    color: #E99692;
  }
  
  .dark a:hover {
    color: #243C21;
  }

  .dark #regions-btn{
    color: #E99692;
  }

  .dark #regions-btn:hover{
    color: #243C21;
  }

  .dark .explor{
    background-color: #243C21;
    transition: all 0.3s ease
  }

  h1 {
    color: #243C21;
  }

  .dark h1 {
    color: #E99692;
  }

  .dark p{
    color: #C0DFDB;
  }

  footer .bgFooter {
    background-image: url('/static/images/saudi-footer.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#saudi-map {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

